In [8]:
from chessnet.notebook_config import *
from chessnet.graphs import read_pickle

In [5]:
df = pd.read_csv(
    ARTIFACTS_DIR / f"{Database.OTB}_newman.txt", 
    sep=" ", 
    names=["ID", "LABEL", "P0", "P1"], 
    index_col="ID",
    header=None,
)
df

       LABEL        P0        P1
ID
0         CB  0.000000  1.000000
1         CA  1.000000  0.000000
2         CB  0.088538  0.911462
3         CB  0.270750  0.729250
4         CB  0.000000  1.000000
...      ...       ...       ...
212870    CC  1.000000  0.000000
212871    CC  1.000000  0.000000
212872    CD  0.000000  1.000000
212873    CC  0.999598  0.000402
212874    CA  1.000000  0.000000

[212875 rows x 3 columns]

In [22]:
g = read_pickle(Database.Portal)
g.summary()

'IGRAPH UN-- 212875 7594313 -- \n+ attr: MeanElo (v), StdElo (v), name (v), NUMBER_OF_GAMES (e)'

In [18]:
g = ig.Graph.Read_GML(f"../newman/Newman_Clauset_code/{Database.Portal}.gml")
g.summary()

In [19]:
g.summary()

'IGRAPH UN-- 212875 7594313 -- \n+ attr: MeanElo (v), StdElo (v), id (v), label (v), name (v), NUMBEROFGAMES (e)'

In [21]:
g.as_undirected().simplify().components().giant().summary()

'IGRAPH UN-- 212875 7594313 -- \n+ attr: MeanElo (v), StdElo (v), id (v), label (v), name (v)'