In [28]:
from collections import defaultdict

import pandas as pd
from chess.pgn import read_headers

from chessnet.utils import DATA_DIR

In [13]:
filename = DATA_DIR / "sample.pgn"
pgn = read_headers(open(filename, "r"))
pgn

Headers(Event='Online Olym Top DivD 2021', Site='chess.com INT', Date='2021.09.08', Round='1.1', White='Ozen, Deniz', Black='Gallego Alcaraz, Andres Felipe', Result='1-0', BlackElo='2512', BlackFideId='4402669', BlackTeam='Colombia', BlackTitle='GM', Board='1', ECO='A45', EventDate='2021.09.08', EventType='team', Opening="Queen's pawn game", WhiteElo='2397', WhiteFideId='6349196', WhiteTeam='Turkey', WhiteTitle='IM')

In [32]:
filename = DATA_DIR / "onlineolymtopd21.pgn"
file = open(filename, "r")

data = defaultdict(list)
fields = ["White", "Black", "WhiteElo", "BlackElo", "Result"]
while pgn := read_headers(file):
    for field in fields:
        data[field].append(pgn[field])

In [34]:
df = pd.DataFrame(data)
print(df.shape)
df

(270, 5)

,White,Black,WhiteElo,BlackElo,Result
0,"Ozen, Deniz","Gallego Alcaraz, Andres Felipe",2397,2512,1-0
1,"Martinez Romero, Martin","Soysal, Serkan",2409,2389,1/2-1/2
2,"Caglar, Sila","Franco Valencia, Angela",2250,2089,1-0
3,"Chirivi C, Jenny Astrid","Kocyigit, Buse Naz",2124,2034,1-0
4,"Celik, Hasan Huseyin","Avila Pavas, Santiago",2370,2395,0-1
...,...,...,...,...,...
265,"Soysal, Serkan","McShane, Luke J",2389,2674,1/2-1/2
266,"Head, Louise","Onur, Cigdem",2090,2015,0-1
267,"Sahin, Hayrun Nisa","Varney, Zoe",2019,1917,1/2-1/2
268,"Derakhshani, Borna","Gurel, Ediz",2353,2353,1-0
269,"Can, Isil","Kalaiyalahan, Akshaya",1945,2149,0-1

In [41]:
filename = DATA_DIR / "om_datasets" / "OM_OTB_201609.pgn"
file = open(filename, "r")

data = defaultdict(list)
fields = ["White", "Black", "WhiteElo", "BlackElo", "Result"]
i = 0

pgn = read_headers(file)
while pgn:
    if i % 100000 == 0:
        print(i)
    i += 1
    for field in fields:
        value = pgn[field] if field in pgn else None
        data[field].append(value)
    try:
        pgn = read_headers(file)
    except UnicodeDecodeError:
        print("Unidecode error:", i)
        pass

0
100000
200000
300000
400000
500000
600000
700000
800000

In [39]:
df = pd.DataFrame(data)
print(df.shape)
df.head()

(1494164, 5)

,White,Black,WhiteElo,BlackElo,Result
0,"Kravchenko, Vladimir V","Smirnova, Ekaterina",2377,2130,0-1
1,"Evdokimov, Alexey","Karpov, Alexander",2249,2242,1-0
2,"Egorov, Pavel","Golubev, Roman",2249,2334,1/2-1/2
3,"Nikologorskiy, Konstantin","Kravchenko, Vladimir V",2410,2377,1-0
4,"Egorov, Pavel","Evdokimov, Alexey",2249,2249,1/2-1/2

In [40]:
df.isna().sum()

White            0
Black            0
WhiteElo    136418
BlackElo    138377
Result           0
dtype: int64