In [1]:
from collections import defaultdict

import pandas as pd
import igraph as ig
from chess.pgn import read_headers

from chessnet.utils import DATA_DIR, ARTIFACTS_DIR

In [2]:
filename = DATA_DIR / "sample.pgn"
pgn = read_headers(open(filename, "r"))
pgn

Headers(Event='Online Olym Top DivD 2021', Site='chess.com INT', Date='2021.09.08', Round='1.1', White='Ozen, Deniz', Black='Gallego Alcaraz, Andres Felipe', Result='1-0', BlackElo='2512', BlackFideId='4402669', BlackTeam='Colombia', BlackTitle='GM', Board='1', ECO='A45', EventDate='2021.09.08', EventType='team', Opening="Queen's pawn game", WhiteElo='2397', WhiteFideId='6349196', WhiteTeam='Turkey', WhiteTitle='IM')

In [18]:
filename = DATA_DIR / "onlineolymtopd21.pgn"
file = open(filename, "r")

data = defaultdict(list)
fields = ["White", "Black", "WhiteElo", "BlackElo", "Result"]
while pgn := read_headers(file):
    for field in fields:
        data[field].append(pgn[field])

In [20]:
type(pgn)

NoneType

In [4]:
df = pd.DataFrame(data)
print(df.shape)
df

(270, 5)

,White,Black,WhiteElo,BlackElo,Result
0,"Ozen, Deniz","Gallego Alcaraz, Andres Felipe",2397,2512,1-0
1,"Martinez Romero, Martin","Soysal, Serkan",2409,2389,1/2-1/2
2,"Caglar, Sila","Franco Valencia, Angela",2250,2089,1-0
3,"Chirivi C, Jenny Astrid","Kocyigit, Buse Naz",2124,2034,1-0
4,"Celik, Hasan Huseyin","Avila Pavas, Santiago",2370,2395,0-1
...,...,...,...,...,...
265,"Soysal, Serkan","McShane, Luke J",2389,2674,1/2-1/2
266,"Head, Louise","Onur, Cigdem",2090,2015,0-1
267,"Sahin, Hayrun Nisa","Varney, Zoe",2019,1917,1/2-1/2
268,"Derakhshani, Borna","Gurel, Ediz",2353,2353,1-0
269,"Can, Isil","Kalaiyalahan, Akshaya",1945,2149,0-1

In [21]:
filename = DATA_DIR / "om_datasets" / "OM_OTB_201609.pgn"
file = open(filename, "r")

data = defaultdict(list)
fields = ["White", "Black", "WhiteElo", "BlackElo", "Result"]
fields += ["ECO", "PlyCount", "Date", "SourceDate"]
i = 0

pgn = read_headers(file)
while pgn is not None:
    if i % 100000 == 0:
        print(i)
    i += 1
    for field in fields:
        value = pgn[field] if field in pgn else None
        data[field].append(value)
    try:
        pgn = read_headers(file)
    except UnicodeDecodeError:
        print("Unidecode error:", i)
        print(pgn)
        pass

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
Unidecode error: 1494164
Headers(Event='1st Clanska Liga-Vzhod', Site='?', Date='2011.10.22', Round='?', White='Cernjak, Ambroz', Black='Spacapan, Simon', Result='1/2-1/2', BlackElo='1502', ECO='B80', EventDate='2011.??.??', PlyCount='31', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='1530')
1500000
Unidecode error: 1515253
Headers(Event='Belgrade-chT', Site='Belgrade', Date='2011.10.01', Round='1.6', White='Stojanovic, Sasa M', Black='Sarenac, David', Result='0-1', BlackElo='2273', ECO='B90', EventCountry='SRB', EventDate='2011.10.01', EventRounds='11', EventType='team-tourn', PlyCount='84', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2070')
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
Unidecode error: 7022877
Headers(Event='It (open)', Site='Lahti (Finland)', Date='1988.??.??', Round='1', White='Kekki, Jorma', Black='Peltomaa, Eljas', Result='1-0', ECO='A90', EventCountry='FIN', EventDate='1988.??.??', EventRounds='4', PlyCount='53', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2100')
7100000
7200000
Unidecode error: 7248259
Headers(Event='Laren', Site='Laren', Date='1982.??.??', Round='1', White='Van de Berg, J.', Black='Weyerstrass, Ronald', Result='0-1', ECO='D34', EventDate='1982.??.??', EventRounds='14', PlyCount='54', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7248316
Headers(Event='?', Site='?', Date='1982.??.??', Round='?', White='Nesis Gennady Efimovich', Black='Koskinen, Olli', Result='1-0', BlackElo='2360', ECO='E17', EventDate='1982.??.??', PlyCount='65', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2612')
Unidecode error: 7248360
Headers(Event='Izt', Site='Las Palmas (Spain)', Date='1982.??.??', Round='7', White='Suba, Mihai', Black='Ribli, Zoltan', Result='1/2-1/2', BlackElo='2580', ECO='E48', EventCountry='ESP', EventDate='1982.??.??', PlyCount='111', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2525')
Unidecode error: 7248427
Headers(Event='DC League', Site='DC League', Date='1982.??.??', Round='1', White='Mayer, Steven F', Black='Michel, Thomas', Result='1-0', ECO='A12', EventDate='1982.??.??', EventRounds='3', PlyCount='55', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7248428
Headers(Event='DC League', Site='DC League', Date='1982.??.??', Round='1', White='Mayer, Steven F', Black='Michel, Thomas', Result='1-0', ECO='A12', EventDate='1982.??.??', EventRounds='3', PlyCount='55', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7253074
Headers(Event='Wijk', Site='Wijk', Date='1982.??.??', Round='?', White='Huebner, Robert', Black='Tal, Mihail', Result='0-1', BlackElo='2605', ECO='C69', EventCountry='NED', EventDate='1982.??.??', EventRounds='2', PlyCount='29', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2620')
Unidecode error: 7254437
Headers(Event='CAN-ch U16', Site='West Vancouver CAN', Date='1982.??.??', Round='?', White='Southam, Todd', Black='Girard, Robin', Result='0-1', BlackElo='1707', ECO='B23', EventCountry='CAN', EventDate='1982.03.14', EventRounds='9', PlyCount='57', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='1665')
Unidecode error: 7266757
Headers(Event='?', Site='?', Date='1982.??.??', Round='?', White='Durao, Joaquim', Black='Ferreira, Antonio1', Result='1/2-1/2', ECO='B23', EventDate='1982.??.??', PlyCount='41', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
7300000
Unidecode error: 7347129
Headers(Event='Yurmala m', Site='?', Date='1979.??.??', Round='1', White='Kapengut, Albert Z', Black='Tal, Mihail', Result='1/2-1/2', ECO='B85', EventDate='1979.??.??', EventRounds='2', PlyCount='86', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7347474
Headers(Event='Rome', Site='Rome', Date='1979.??.??', Round='?', White='Iannacone, Ernesto', Black='Stacchini, Angelo P', Result='1-0', ECO='C06', EventCategory='8', EventCountry='ITA', EventDate='1979.03.??', EventRounds='11', EventType='tourn', PlyCount='97', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7349680
Headers(Event='?', Site='?', Date='1979.??.??', Round='?', White='Donchev, Dimitar I', Black='Georgiev, Kiril', Result='1/2-1/2', ECO='B87', EventDate='1979.??.??', PlyCount='92', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7357157
Headers(Event='Pellestrina op-F', Site='Pellestrina', Date='1979.??.??', Round='7', White='Cairo, A.', Black='Garozzo, B.', Result='1-0', ECO='E32', EventCountry='ITA', EventDate='1979.??.??', EventRounds='8', EventType='swiss', PlyCount='47', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7372118
Headers(Event='OB I csapatbajnoksÃ¡g', Site='MagyarorszÃ¡g', Date='1978.??.??', Round='?', White='Groszpeter, Attila', Black='Csom, Istvan', Result='1-0', ECO='B22', EventCountry='HUN', EventDate='1978.??.??', EventRounds='13', PlyCount='67', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7373014
Headers(Event='IBM-B', Site='Amsterdam', Date='1978.??.??', Round='9', White='Janosevic, Dragoljub', Black='Van Wijgerden, Cornelis', Result='0-1', BlackElo='2435', ECO='B08', EventCategory='7', EventCountry='NED', EventDate='1978.07.12', EventRounds='13', EventType='tourn', PlyCount='104', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2455')
7400000
Unidecode error: 7401944
Headers(Event='?', Site='?', Date='1977.??.??', Round='?', White='Schmidt, Wlodzimierz', Black='Sisniega, Marcel', Result='1/2-1/2', ECO='E17', EventDate='1977.??.??', PlyCount='142', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2490')
Unidecode error: 7407772
Headers(Event='Bahamas', Site='?', Date='1977.??.??', Round='?', White='Wall, Bill', Black='Trexler, David', Result='1-0', ECO='A00', EventDate='1977.??.??', PlyCount='65', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7407921
Headers(Event='Danmark', Site='Danmark', Date='1977.??.??', Round='?', White='Jakobsen, Ole', Black='Fries Nielsen, Jens Ove', Result='1/2-1/2', ECO='B09', EventDate='1977.??.??', PlyCount='54', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7419935
Headers(Event='Arizona', Site='Arizona', Date='1976.??.??', Round='1', White='Brown, Timothy G', Black='Anderson, Alan J', Result='0-1', ECO='B27', EventCountry='USA', EventDate='1976.??.??', EventRounds='2', PlyCount='66', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7421130
Headers(Event='DSV-Turnier', Site='Halle', Date='1976.??.??', Round='?', White='Balashov, Yuri S', Black='Schmidt, Wlodzimierz', Result='1-0', BlackElo='2485', ECO='B02', EventCategory='9', EventCountry='DDR', EventDate='1976.11.??', EventRounds='13', PlyCount='49', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2545')
Unidecode error: 7422967
Headers(Event='?', Site='?', Date='1976.??.??', Round='?', White='Pres, Grigorij', Black='Kapengut, Albert Z', Result='0-1', ECO='A71', EventDate='1976.??.??', PlyCount='42', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7424280
Headers(Event='KP jednotlivcu', Site='?', Date='1976.??.??', Round='3', White='Sara, Pavel', Black='Vykydal, Frantisek', Result='0-1', ECO='B02', EventDate='1976.??.??', PlyCount='113', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7438368
Headers(Event='It (open)', Site='USA', Date='1975.??.??', Round='?', White='Litten, T.', Black='Chess, R.', Result='0-1', ECO='B34', EventDate='1975.??.??', EventRounds='7', PlyCount='70', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7438706
Headers(Event='Copenhagen', Site='Copenhagen', Date='1975.??.??', Round='1', White='Lund, Flemming', Black='Knudsen, Jes West', Result='1-0', ECO='A66', EventCountry='DEN', EventDate='1975.??.??', EventType='tourn', PlyCount='63', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7439835
Headers(Event='Ch (QT)', Site='Germany', Date='1975.??.??', Round='5', White='Pauli, Alexander', Black='Riess, Werner', Result='1-0', ECO='B01', EventCountry='GER', EventDate='1975.??.??', EventRounds='8', PlyCount='27', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2167')
Unidecode error: 7439973
Headers(Event='MP KPS DUNI E', Site='?', Date='1975.??.??', Round='?', White='Tomiska, Miroslav', Black='Zavodny, Zdenek', Result='1-0', ECO='B48', EventDate='1975.??.??', PlyCount='69', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
Unidecode error: 7457137
Headers(Event='Costa del Sol', Site='?', Date='1974.??.??', Round='3', White='Sanz Alonso, Francisco Javier', Black='Tarjan, James Edward', Result='0-1', BlackElo='2415', ECO='A37', EventDate='1974.??.??', PlyCount='66', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2200')
Unidecode error: 7460777
Headers(Event='?', Site='?', Date='1974.??.??', Round='?', White='Ljubojevic, Ljubomir', Black='Durao Joaquim', Result='1-0', BlackElo='2360', ECO='C64', EventDate='1974.??.??', PlyCount='51', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2605')
Unidecode error: 7462612
Headers(Event='?', Site='?', Date='1974.??.??', Round='?', White='Holloway, Nigel John', Black='Chandler, Clifford R', Result='1-0', ECO='A39', EventDate='1974.??.??', PlyCount='63', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609')
7500000
7600000
7700000
7800000

In [17]:
read_headers(file)

Headers(Event='Ch (team) (1 liga)', Site='Cetinje (Montenegro)', Date='2011.10.22', Round='8', White='Saranovic, Mitar', Black='Abramovic, Dragoljub', Result='1/2-1/2', BlackElo='2105', ECO='B00', EventCountry='YUG', EventDate='2011.??.??', EventRounds='3', PlyCount='26', Source='Opening Master', SourceDate='2016.09.17', SourceTitle='OM OTB 201609', WhiteElo='2146')

In [14]:
pgn

Headers()

In [22]:
df = pd.DataFrame(data)
df.to_csv(ARTIFACTS_DIR / "om_otb.csv", index=False)
print(df.shape)
df.head()

(7852388, 9)

,White,Black,WhiteElo,BlackElo,Result,ECO,PlyCount,Date,SourceDate
0,"Kravchenko, Vladimir V","Smirnova, Ekaterina",2377,2130,0-1,A05,98,2016.09.08,2016.09.17
1,"Evdokimov, Alexey","Karpov, Alexander",2249,2242,1-0,A89,95,2016.09.08,2016.09.17
2,"Egorov, Pavel","Golubev, Roman",2249,2334,1/2-1/2,E90,90,2016.09.08,2016.09.17
3,"Nikologorskiy, Konstantin","Kravchenko, Vladimir V",2410,2377,1-0,B06,107,2016.09.08,2016.09.17
4,"Egorov, Pavel","Evdokimov, Alexey",2249,2249,1/2-1/2,E90,61,2016.09.08,2016.09.17

In [23]:
df.isna().sum()

White              46
Black              45
WhiteElo      2311711
BlackElo      2332379
Result             45
ECO                45
PlyCount           45
Date               46
SourceDate         45
dtype: int64

In [29]:
df = df.dropna(subset=["White", "Black", "BlackElo", "WhiteElo"])

In [30]:
edges = df[["White", "Black"]].drop_duplicates()
g = ig.Graph.DataFrame(edges)

In [32]:
print(g.as_undirected().summary())

IGRAPH UN-- 235456 3908953 --
+ attr: name (v)

In [11]:
df[["White", "Black"]].drop_duplicates()

                                White                          Black
0              Kravchenko, Vladimir V            Smirnova, Ekaterina
1                   Evdokimov, Alexey              Karpov, Alexander
2                       Egorov, Pavel                 Golubev, Roman
3           Nikologorskiy, Konstantin         Kravchenko, Vladimir V
4                       Egorov, Pavel              Evdokimov, Alexey
...                               ...                            ...
1494159                Mackie, Norman                     Munsey, J.
1494160           Moreno Simo, Javier  Bendayan Claros, Aaron Arturo
1494161  Martinez Vicario, Jose Maria           Jianu, Vlad Cristian
1494162            Montilla, Jorcerys                  Rovira, Tairu
1494163               Cernjak, Ambroz                Spacapan, Simon

[1393081 rows x 2 columns]

In [27]:
df.tail()

,White,Black,WhiteElo,BlackElo,Result,ECO,PlyCount,Date,SourceDate
7852383,"Herejk, Petr","Sladek, Jaroslav",2094,1869,1/2-1/2,D13,17,????.??.??,2016.09.17
7852384,"Hermans, Guy","Verstraeten, Roland",None,None,1-0,D52,89,????.??.??,2016.09.17
7852385,"Kvist, Markus","Lindmark, Crister",None,None,1/2-1/2,B13,32,????.??.??,2016.09.17
7852386,"Ladron De Guevara, Miguel","Sergio, Sandra",None,None,1-0,C80,75,????.??.??,2016.09.17
7852387,"Laleman, Manu","Peeters, Jozef",1640,1640,1/2-1/2,B14,91,????.??.??,2016.09.17

In [28]:
from pathlib import Path
Path("foo/bar/this.py").stem

'this'

In [33]:
df

,White,Black,WhiteElo,BlackElo,Result,ECO,PlyCount,Date,SourceDate
0,"Kravchenko, Vladimir V","Smirnova, Ekaterina",2377,2130,0-1,A05,98,2016.09.08,2016.09.17
1,"Evdokimov, Alexey","Karpov, Alexander",2249,2242,1-0,A89,95,2016.09.08,2016.09.17
2,"Egorov, Pavel","Golubev, Roman",2249,2334,1/2-1/2,E90,90,2016.09.08,2016.09.17
3,"Nikologorskiy, Konstantin","Kravchenko, Vladimir V",2410,2377,1-0,B06,107,2016.09.08,2016.09.17
4,"Egorov, Pavel","Evdokimov, Alexey",2249,2249,1/2-1/2,E90,61,2016.09.08,2016.09.17
...,...,...,...,...,...,...,...,...,...
7852376,"Lagunes, Matthieu","Fageot, Julien",1868,1985,1-0,C14,21,????.??.??,2016.09.17
7852378,Juan,"Cortes, Maria Angelica",1712,1770,1/2-1/2,C50,27,????.??.??,2016.09.17
7852381,"Phan Dinh Nhat, Khanh","Nguyen, Van Hai",1967,2312,1/2-1/2,A17,41,????.??.??,2016.09.17
7852383,"Herejk, Petr","Sladek, Jaroslav",2094,1869,1/2-1/2,D13,17,????.??.??,2016.09.17
7852387,"Laleman, Manu","Peeters, Jozef",1640,1640,1/2-1/2,B14,91,????.??.??,2016.09.17