In [1]:
import pandas as pd

from chessnet.utils import ARTIFACTS_DIR

In [2]:
df = pd.read_csv(ARTIFACTS_DIR / "OM_OTB_201609.csv")
print(df.shape)
df.head()

(7852388, 9)

,White,Black,WhiteElo,BlackElo,Result,ECO,PlyCount,Date,SourceDate
0,"Kravchenko, Vladimir V","Smirnova, Ekaterina",2377.0,2130.0,0-1,A05,98.0,2016.09.08,2016.09.17
1,"Evdokimov, Alexey","Karpov, Alexander",2249.0,2242.0,1-0,A89,95.0,2016.09.08,2016.09.17
2,"Egorov, Pavel","Golubev, Roman",2249.0,2334.0,1/2-1/2,E90,90.0,2016.09.08,2016.09.17
3,"Nikologorskiy, Konstantin","Kravchenko, Vladimir V",2410.0,2377.0,1-0,B06,107.0,2016.09.08,2016.09.17
4,"Egorov, Pavel","Evdokimov, Alexey",2249.0,2249.0,1/2-1/2,E90,61.0,2016.09.08,2016.09.17

In [3]:
edges = df[["White", "Black"]].drop_duplicates().dropna().values

In [5]:
print(edges.shape)
edges[:10].tolist()

(6823239, 2)

[['Kravchenko, Vladimir V', 'Smirnova, Ekaterina'],
 ['Evdokimov, Alexey', 'Karpov, Alexander'],
 ['Egorov, Pavel', 'Golubev, Roman'],
 ['Nikologorskiy, Konstantin', 'Kravchenko, Vladimir V'],
 ['Egorov, Pavel', 'Evdokimov, Alexey'],
 ['Evdokimov, Alexey', 'Glek, Igor'],
 ['Evdokimov, Alexey', 'Golubev, Roman'],
 ['Glek, Igor', 'Konaplev, Anton'],
 ['Strovsky, Mikhail', 'Smirnova, Ekaterina'],
 ['Kravchenko, Vladimir V', 'Glek, Igor']]

In [6]:
import networkx as nx

In [8]:
G = nx.from_edgelist(edges[:10000])
print(nx.info(G))

Graph with 5679 nodes and 9973 edges

/tmp/ipykernel_83496/289438571.py:2: DeprecationWarning: info is deprecated and will be removed in version 3.0.

  print(nx.info(G))